@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin flex-center($dir: row, $wrap: nowrap) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
  align-items: center;
  justify-content: space-between;
}
